{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}


    <div class="flex flex-col mx-auto  h-full justify-center items-center">
        <div class="flex-0 h-64 my-8 text-white text-outline" id="page_title" >
            <h1 class="text-9xl text-center select-none my-5 ">Microbializer</h1>
            <h1 class="text-6xl text-center select-none">A web server for analyzing bacterial genomics data. Easily.</h1>
        </div>
        <div class="h-32 flex flex-col justify-end transition-all duration-500 ease-in-out" id="job_button">
          <label
            class="
              w-64
              flex flex-col
              items-center
              px-4
              py-6
              bg-white
              rounded-md
              shadow-md
              tracking-wide
              uppercase
              border-2
              border border-lime-800 hover:border-white
              cursor-pointer
              hover:bg-lime-600 hover:text-white
              text-green-600
              ease-linear
              transition-all
              duration-150
              font-bold
              mx-8
              my-4
          " onclick="buttonClick()">
          <span class="mt-2 text-base leading-normal select-none animate-bounce ">Submit Job</span>
        </div>
        
        <div id="formdiv" class="relative bg-opacity-75 h-128 py-3 border-2 border-white-400 bg-white rounded-lg transition-opacity opacity-0 duration-500 ease-in-out hidden">
          <form class="flex flex-col justify-center items-center mx-2" id="theForm" method="POST" enctype="multipart/form-data">
            <div id="mail_div" class="flex flex-col">
              <div   class="flex flex-row justify-between items-center">
                <p class="text-2xl mx-8 select-none">Enter a valid email (optional):</p>
                <input class="appearance-none border-2 border-lime-800 bg-white rounded-lg w-128 text-gray-700 text-xl mr-1 py-3 px-2 leading-tight focus:outline-none text-center" type="email" id="theMail" name="email" placeholder="example@example.com" required>
  
                <label for="theMail" id="continue_after_mail" class="w-16  flex flex-col items-center rounded-md py-3 bg-white shadow-lg tracking-wide uppercase border border-lime-800 bg-gray-600 text-white ease-linear transition-all duration-150 mx-8 my-4">
                  <span class="text-base font-bold text-2xl leading-normal select-none ">➔</span>
                </label>
              </div>
              <div   class="flex flex-row justify-between items-center">
                <p class="text-2xl mx-8 select-none">Job name (optional):&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p>
                <input class="appearance-none border-2 border-lime-800 bg-white rounded-lg w-128 text-gray-700 text-xl mr-1 py-3 px-2 leading-tight focus:outline-none text-center" type="text" id="theJobName" name="job_name" maxlength="70" required>
                <span class="w-16 py-3 my-4  mx-8 select-none">&nbsp</span>

              </div>
            </div>
            <div id="file_div" class="hidden flex flex-col justify-center">
                <div class="flex flex-row justify-start items-center ">
                  <p class="text-2xl mx-8 select-none">Select a zipped / tar.gz folder:</p>
                  <label for="theFile" id="upload_button0" class="w-64  flex flex-col  items-center  px-4  py-6  bg-white  rounded-md  shadow-lg  tracking-wide  uppercase  border border-lime-800  bg-white  text-black hover:bg-lime-600 hover:text-white  ease-linear  transition-all  duration-150  mx-8  my-4 cursor-pointer">
                    <span class="select-none"><i id="file_icon0" class="fa fa-upload" style="font-size:24px"></i></span>
                    <span id="file_name0" class="select-none text-white text-xs"></span>
                    <input  class="hidden" id="theFile" type="file" name=file accept="{{extensions}}" required/>
                    
                  </label>
                </div>
            </div>
            <div id="is_advanced_div" class="hidden flex flex-row justify-center">
                <div>
                    <label id="defaultSetting" class="w-64  text-center flex flex-row justify-center bg-white peer-checked:bg-lime-600 peer-checked:text-white  rounded-md  shadow-lg  tracking-wide  uppercase  border border-lime-800  hover:bg-lime-600 hover:text-white font-bold  ease-linear  transition-all   mx-8  my-4 px-4  py-6  cursor-pointer">
                        <span class="select-none">Default setting</span>
                </div>
                <div>
                    <label id="advancedSetting" class="w-64  text-center flex flex-row justify-center bg-white peer-checked:bg-lime-600 peer-checked:text-white  rounded-md  shadow-lg  tracking-wide  uppercase  border border-lime-800  hover:bg-lime-600 hover:text-white font-bold  ease-linear  transition-all   mx-8  my-4 px-4  py-6  cursor-pointer">
                        <span class="select-none">Advanced setting</span>
                    </label>
                </div>
            </div>
            <div id="paramaters_div" class="hidden flex flex-col justify-center items-center">
              <div class="grid grid-cols-2 justify-center items-center">
                
                <div class="flex flex-row justify-between items-center ">
                    <p class="text-l mx-2 select-none w-80">{{args_display_inputs_fasta_type}}:</p>
                    <div>
                          <input class="hidden peer" id="genomeFastaType" type="radio" name="inputFastaType" value="genomes" checked/>
                          <label for="genomeFastaType" class="w-32  text-center flex flex-row justify-center bg-white peer-checked:bg-lime-600 peer-checked:text-white  rounded-md  shadow-lg  tracking-wide  uppercase  border border-lime-800  hover:bg-lime-600 hover:text-white font-bold  ease-linear  transition-all   mx-2  my-4 px-2  py-3  cursor-pointer">
                              <span class="select-none">Genomes</span>
                          </label>
                    </div>
                    <div>
                          <input class="hidden peer" id="orfsFastaType" type="radio" name="inputFastaType" value="orfs"/>
                          <label for="orfsFastaType" class="w-32  text-center flex flex-row justify-center bg-white peer-checked:bg-lime-600 peer-checked:text-white  rounded-md  shadow-lg  tracking-wide  uppercase  border border-lime-800  hover:bg-lime-600 hover:text-white font-bold  ease-linear  transition-all   mx-2  my-4 px-2  py-3  cursor-pointer">
                              <span class="select-none">ORFs</span>
                          </label>
                    </div>
                </div>
                  
                <div class="flex flex-row justify-between items-center ">
                      <p class="text-l mx-2 select-none w-80">{{args_display_filter_out_plasmids}}:</p>
                      <div>
                          <input class="hidden peer" id="isNotApplyFilter" type="radio" name="isFilter" value="False" checked/>
                          <label for="isNotApplyFilter" class="w-32  text-center flex flex-row justify-center bg-white peer-checked:bg-lime-600 peer-checked:text-white  rounded-md  shadow-lg  tracking-wide  uppercase  border border-lime-800  hover:bg-lime-600 hover:text-white font-bold  ease-linear  transition-all   mx-2  my-4 px-2  py-3  cursor-pointer">
                              <span class="select-none">No</span>
                          </label>
                      </div>
                      <div>
                          <input class="hidden peer" id="isApplyFilter" type="radio" name="isFilter" value="True"/>
                          <label for="isApplyFilter" class="w-32  text-center flex flex-row justify-center bg-white peer-checked:bg-lime-600 peer-checked:text-white  rounded-md  shadow-lg  tracking-wide  uppercase  border border-lime-800  hover:bg-lime-600 hover:text-white font-bold  ease-linear  transition-all   mx-2  my-4 px-2  py-3  cursor-pointer">
                              <span class="select-none">Yes</span>
                          </label>
                      </div>
                  </div>
                  
                <div   class="flex flex-row justify-between items-center">
                    <p class="text-l mx-2 select-none w-80">{{args_display_identity_cutoff}}:</p>
                    <input class="appearance-none border-2 border-lime-800 bg-white rounded-lg w-64 text-gray-700 text-xl mr-1 py-3 px-2 leading-tight focus:outline-none text-center" type="number" id="minIdentity" name="minIdentity" maxlength="10" placeholder="40.0" value="40.0" max="100" min="0" step="1" required>
                </div>
                  
                <div   class="flex flex-row justify-between items-center">
                    <p class="text-l mx-2 select-none w-80">{{args_display_coverage_cutoff}}:</p>
                    <input class="appearance-none border-2 border-lime-800 bg-white rounded-lg w-64 text-gray-700 text-xl mr-1 my-6 py-3 px-2 leading-tight focus:outline-none text-center" type="number" id="coverageCutoff" name="coverageCutoff" maxlength="10" placeholder="70" value="70.0" max="100" min="0" step="1" required>
                </div>
                  
                <div   class="flex flex-row justify-between items-center">
                    <p class="text-l mx-2 select-none w-80">{{args_display_core_minimal_percentage}}:</p>
                    <input class="appearance-none border-2 border-lime-800 bg-white rounded-lg w-64 text-gray-700 text-xl mr-1 py-3 px-2 leading-tight focus:outline-none text-center" type="number" id="orthologsPercent" name="orthologsPercent" maxlength="10" placeholder="100.0" value="100.0" max="100" min="0" step="1" required>
                </div>
  
                <div   class="flex flex-row justify-between items-center">
                    <p class="text-l mx-2 select-none w-80">{{args_display_outgroup}}:</p>
                    <input class="appearance-none border-2 border-lime-800 bg-white rounded-lg w-64 text-gray-700 text-xl mr-1 py-3 px-2 leading-tight focus:outline-none text-center" type="text" id="outgroup" name="outgroup" maxlength="70" placeholder="No outgroup" value="No outgroup" required>
                </div>
                  
                <div class="flex flex-row justify-between items-center ">
                      <p class="text-l mx-2 select-none w-80">{{args_display_bootstrap}}:</p>
                      <div>
                          <input class="hidden peer" id="isNotApplyBootstrap" type="radio" name="isBootstrap" value="False" checked/>
                          <label for="isNotApplyBootstrap" class="w-32  text-center flex flex-row justify-center bg-white peer-checked:bg-lime-600 peer-checked:text-white  rounded-md  shadow-lg  tracking-wide  uppercase  border border-lime-800  hover:bg-lime-600 hover:text-white font-bold  ease-linear  transition-all   mx-2  my-4 px-2  py-3  cursor-pointer">
                              <span class="select-none">No</span>
                          </label>
                      </div>
                      <div>
                          <input class="hidden peer" id="isApplyBootstrap" type="radio" name="isBootstrap" value="True"/>
                          <label for="isApplyBootstrap" class="w-32  text-center flex flex-row justify-center bg-white peer-checked:bg-lime-600 peer-checked:text-white  rounded-md  shadow-lg  tracking-wide  uppercase  border border-lime-800  hover:bg-lime-600 hover:text-white font-bold  ease-linear  transition-all   mx-2  my-4 px-2  py-3  cursor-pointer">
                              <span class="select-none">Yes</span>
                          </label>
                      </div>
                  </div>
                                  
                <div class="flex flex-row justify-between items-center ">
                      <p class="text-l mx-2 select-none">{{args_display_add_orphan_genes_to_ogs}}:</p>
                      <div>
                          <input class="hidden peer" id="isNotAddOrphan" type="radio" name="isAddOrphanGenes" value="False" checked/>
                          <label for="isNotAddOrphan" class="w-32  text-center flex flex-row justify-center bg-white peer-checked:bg-lime-600 peer-checked:text-white  rounded-md  shadow-lg  tracking-wide  uppercase  border border-lime-800  hover:bg-lime-600 hover:text-white font-bold  ease-linear  transition-all   mx-2  my-4 px-2  py-3  cursor-pointer">
                              <span class="select-none">No</span>
                          </label>
                      </div>
                      <div>
                          <input class="hidden peer" id="isAddOrphan" type="radio" name="isAddOrphanGenes" value="True"/>
                          <label for="isAddOrphan" class="w-32  text-center flex flex-row justify-center bg-white peer-checked:bg-lime-600 peer-checked:text-white  rounded-md  shadow-lg  tracking-wide  uppercase  border border-lime-800  hover:bg-lime-600 hover:text-white font-bold  ease-linear  transition-all   mx-2  my-4 px-2  py-3  cursor-pointer">
                              <span class="select-none">Yes</span>
                          </label>
                      </div>
                  </div>
              </div>
              <div class="flex flex-row justify-between items-center">  
                <label id="continue_after_parameters" class="w-32  flex flex-col items-center rounded-md py-3 bg-lime-300 shadow-lg tracking-wide uppercase border border-lime-800  bg-white  text-black hover:bg-lime-600 hover:text-white  ease-linear  transition-all  duration-150  mx-8  my-4 cursor-pointer">
                  <span class="text-base font-bold text-3xl leading-normal select-none ">⟶</span>
                </label>
              </div>
            </div>
            <div id="summary_div" class="hidden flex flex-col justify-center items-center">
              <p class="text-l mx-8 select-none font-bold">Please verify the following input values.</p>
              <p class="text-l mx-8 select-none font-bold">If the data inserted is wrong, please press the reset button</p>
              <div class="grid grid-cols-2 columns-2 justify-center items-center">
              <div class="flex flex-row justify-between items-center ">
                  <p class="w-64 text-l mx-2 select-none">{{args_display_job_name}}:</p>
                  <label class="w-80 h-12 text-center flex flex-row justify-center bg-gray-600 rounded-md  shadow-lg  tracking-wide  uppercase  border border-lime-800 font-bold  ease-linear  transition-all   mx-8  my-2 px-4  py-3">
                    <span id="user_job_name" class="select-none text-white"></span>
                  </label>
              </div>
    
              <div class="flex flex-row justify-between items-center ">
                  <p class="w-64 text-l mx-2 select-none">{{args_display_email}}:</p>
                  <label class="w-80 h-12 text-center flex flex-row justify-center bg-gray-600 rounded-md  shadow-lg  tracking-wide  uppercase  border border-lime-800 font-bold  ease-linear  transition-all   mx-8  my-2 px-4  py-3">
                    <span id="user_email_adress" class="select-none text-white"></span>
                  </label>
              </div>
              
              <div class="flex flex-row justify-between items-center ">
                  <p class="w-64 text-l mx-2 select-none">File name:</p>
                  <label class="w-80 h-12 text-center flex flex-row justify-center bg-gray-600 rounded-md  shadow-lg  tracking-wide  uppercase  border border-lime-800 font-bold  ease-linear  transition-all   mx-8  my-2 px-4  py-3">
                    <span id="user_file0" class="select-none text-white"></span>
                  </label>
              </div>
              
              <div class="flex flex-row justify-between items-center ">
                  <p class="w-64 text-l mx-2 select-none">{{args_display_inputs_fasta_type}}:</p>
                  <label class="w-80 h-12 text-center flex flex-row justify-center bg-gray-600 rounded-md  shadow-lg  tracking-wide  uppercase  border border-lime-800 font-bold  ease-linear  transition-all   mx-8  my-2 px-4  py-3">
                    <span id="user_fasta_type" class="select-none text-white"></span>
                  </label>
              </div>
              
              <div class="flex flex-row justify-between items-center ">
                  <p class="w-64 text-l mx-2 select-none">{{args_display_filter_out_plasmids}}:</p>
                  <label class="w-80 h-12 text-center flex flex-row justify-center bg-gray-600 rounded-md  shadow-lg  tracking-wide  uppercase  border border-lime-800 font-bold  ease-linear  transition-all   mx-8  my-2 px-4  py-3">
                    <span id="user_is_filter" class="select-none text-white"></span>
                  </label>
              </div>
  
              <div class="flex flex-row justify-between items-center ">
                  <p class="w-64 text-l mx-2 select-none">{{args_display_identity_cutoff}}:</p>
                  <label class="w-80 h-12 text-center flex flex-row justify-center bg-gray-600 rounded-md  shadow-lg  tracking-wide  uppercase  border border-lime-800 font-bold  ease-linear  transition-all   mx-8  my-2 px-4  py-3">
                    <span id="user_identity" class="select-none text-white"></span>
                  </label>
              </div>
              
              <div class="flex flex-row justify-between items-center ">
                  <p class="w-64 text-l mx-2 select-none">{{args_display_coverage_cutoff}}:</p>
                  <label class="w-80 h-12 text-center flex flex-row justify-center bg-gray-600 rounded-md  shadow-lg  tracking-wide  uppercase  border border-lime-800 font-bold  ease-linear  transition-all   mx-8  my-2 px-4  py-3">
                    <span id="user_coverage_cutoff" class="select-none text-white"></span>
                  </label>
              </div>
                  
              <div class="flex flex-row justify-between items-center ">
                  <p class="w-64 text-l mx-2 select-none">{{args_display_core_minimal_percentage}}:</p>
                  <label class="w-80 h-12 text-center flex flex-row justify-center bg-gray-600 rounded-md  shadow-lg  tracking-wide  uppercase  border border-lime-800 font-bold  ease-linear  transition-all   mx-8  my-2 px-4  py-3">
                    <span id="user_core_gene" class="select-none text-white"></span>
                  </label>
              </div>

              <div class="flex flex-row justify-between items-center ">
                <p class="w-64 text-l mx-2 select-none">{{args_display_outgroup}}:</p>
                <label class="w-80 h-12 text-center flex flex-row justify-center bg-gray-600 rounded-md  shadow-lg  tracking-wide  uppercase  border border-lime-800 font-bold  ease-linear  transition-all   mx-8  my-2 px-4  py-3">
                  <span id="user_outgroup" class="select-none text-white"></span>
                </label>
              </div>
                  
              <div class="flex flex-row justify-between items-center ">
                  <p class="w-64 text-l mx-2 select-none">{{args_display_bootstrap}}:</p>
                  <label class="w-80 h-12 text-center flex flex-row justify-center bg-gray-600 rounded-md  shadow-lg  tracking-wide  uppercase  border border-lime-800 font-bold  ease-linear  transition-all   mx-8  my-2 px-4  py-3">
                    <span id="user_is_bootstrap" class="select-none text-white"></span>
                  </label>
              </div>
              
              <div class="flex flex-row justify-between items-center ">
                  <p class="w-64 text-l mx-2 select-none">{{args_display_add_orphan_genes_to_ogs}}:</p>
                  <label class="w-80 h-12 text-center flex flex-row justify-center bg-gray-600 rounded-md  shadow-lg  tracking-wide  uppercase  border border-lime-800 font-bold  ease-linear  transition-all   mx-8  my-2 px-4  py-3">
                    <span id="user_is_orpan" class="select-none text-white"></span>
                  </label>
              </div>
              <div 
                  class="g-recaptcha" 
                  data-sitekey="6LdxrIgqAAAAAIYmarLM0UJ7AXdBUBfKM4u4iVLt"
                  data-callback="enablePostForm"
              ></div>
            </div>
            <label id="submit_button" class="w-64  flex flex-col  items-center  px-4  py-6  bg-white  rounded-md  shadow-lg  tracking-wide  uppercase  border border-lime-800  bg-white-600 text-black hover:bg-lime-600 hover:text-white ease-linear font-bold transition-all  duration-150  mx-8  my-4 cursor-pointer">
              <span class="select-none">Submit</span></label>
            </div>
            
          </form>
          <label class="peer w-8 h-8 bg-white border-2 border-black rounded-full cursor-pointer flex flex-col  items-center justify-center  absolute bottom-0 left-0 mx-2 my-2 tracking-wide ">
            <span class="font-bold text-2xl text-gray-700 select-none" >?</span>
          </label>
          <div class="opacity-0 absolute bottom-5 left-6 w-11/12 h-auto bg-white border border-1 rounded-md bg-white peer-hover:opacity-100 transition-opacity ease-linear duration-150  p-5 pointer-events-none border-white shadow-lg">
            <p id="help_text" class="p-2 text-1xl text-justify select-none w-auto h-auto">
                "Placeholder text"
            </p>
          </div>
          <label onclick="resetHome()" id="reset_button" class="absolute bottom--15 right-0 w-32  flex flex-col  items-center  px-4  py-3  bg-white  rounded-md  shadow-lg  tracking-wide  uppercase  border border-red-700  bg-white-600 text-black hover:bg-red-600 hover:text-white ease-linear font-bold transition-all  duration-150  my-8 cursor-pointer">
            <span class="select-none">Reset</span>
          </label>
        
        </div>
        <div id="after_post" class="hidden flex flex-row h-48 my-8 justify-end items-center">
          <h1 id="progress-bar" class="text-center text-outline text-white animate-pulse text-4xl select-none"></h1>
        </div>
        <div class="flex flex-row justify-end items-center">
          <a  href="/about" target="_blank" rel="noopener noreferrer" class="w-24  flex flex-col  items-center  px-4  py-3  bg-white  rounded-md  shadow-lg  tracking-wide  uppercase  border border-lime-800  bg-white-600 text-black hover:bg-lime-600 hover:text-white ease-linear  transition-all  duration-150  mx-2  my-3 cursor-pointer select-none">
            About
          </a>
          <a  href="/overview" target="_blank" rel="noopener noreferrer" class="w-24  flex flex-col  items-center  px-4  py-3  bg-white  rounded-md  shadow-lg  tracking-wide  uppercase  border border-lime-800  bg-white-600 text-black hover:bg-lime-600 hover:text-white ease-linear  transition-all  duration-150  mx-2  my-3 cursor-pointer select-none">
            Overview
          </a>
		  <a  href="/faq" target="_blank" rel="noopener noreferrer" class="w-24  flex flex-col  items-center  px-4  py-3  bg-white  rounded-md  shadow-lg  tracking-wide  uppercase  border border-lime-800  bg-white-600 text-black hover:bg-lime-600 hover:text-white ease-linear  transition-all  duration-150  mx-2  my-3 cursor-pointer select-none">
            FAQ
          </a>
          <a  href="/example" target="_blank" rel="noopener noreferrer" class="w-24  flex flex-col  items-center  px-4  py-3  bg-white  rounded-md  shadow-lg  tracking-wide  uppercase  border border-lime-800  bg-white-600 text-black hover:bg-lime-600 hover:text-white ease-linear  transition-all  duration-150  mx-2  my-3 cursor-pointer select-none">
            Example
          </a>
        </div>
    </div>
{% endblock %}
  
{% block scripts %}
<script src="{{url_for('static',filename='js/consts.js')}}"></script>
<script src="{{url_for('static',filename='js/home.js')}}"></script>
<script>
  initScript(parseInt("{{max_custom}}"), "{{species_prefix}}", "{{accession_prefix}}");
</script>
{% endblock %}
